/*Sets the rules for the navbar!**/
nav {
    display: block;
    unicode-bidi: isolate;
}
.nav {
    background-color: #000;
}
.nav-item {
    padding: .5em;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.nav-link {text-decoration: none;
  color: #fff;
}
li {
    display: list-item;
    unicode-bidi: isolate;
}